*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div#principal{
    margin: auto;
    background-color: aqua;
    border: 2px solid black;
    display: flex;
    position: relative;
    height:150px;
    width: 500px;
    border-radius: 25px;
   
}

#botaonome{
position: absolute;
top: 5%;
left:5%;

}


input{

border: 3px solid black;

}
i::before
{

  content: '';
  position: absolute;
  top: -1.5px;
  left: 95%;
  width: 15px;
  height: 4px;
  background-color: aqua;
  transform: translateX(-50%);
  transition: 800ms;
 

}
p:hover i::before
{

   
    left: 30%;
    width: 25px;
 

}
i::after
{

  content: '';
  position: absolute;
  bottom:0px;
  left: 27%;
  width: 15px;
  height: 4px;
  background-color: aqua;
  transform: translateX(-50%);
  transition: 800ms;
 

}
p:hover i::after
{


    left: 90%;
    width: 25px;
 

}




i::before{

content: '';
position: absolute;
top: 0;
left: 30%;
width: 15px;
height:3px;
background-color: aqua;
transform: translateX(-50%);
transition: 800ms;
box-shadow: 0px 16px  transparent;
}

p:hover  i::before{

left:95%;
box-shadow: 0px 16px  black;

}
i::after{

    content: '';
    position: absolute;
    bottom: 0;
    right: 2%;
    width: 15px;
    height:3px;
    background-color: aqua;
    transform: translatx(-50%);
    transition: 800ms;
    box-shadow: -1px -16px  transparent;
    }
    
    p:hover  i::after{
    
    right:67%;
    box-shadow: 0px -16px  black;
    
    }


#botaosenha{
position: absolute;
top: 25%;
left:5%;
}
#botaoidade{
position: absolute;
top: 45%;
left:5%;
}
#botaodata{
position: absolute;
top: 5%;
right: 5%;
}
#botaocor{
position: absolute;
top: 25%;
right: 5%;
}
#isalvar{
position: absolute;
bottom: 20%;
left: 30%;
}
#iresetar{
position: absolute;
bottom: 20%;
right: 30%;
}
