*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    margin: auto;
    background-color: aqua;
    border: 2px solid black;
    display: flex;
    position: relative;
    height:150px;
    width: 500px;
    border-radius: 25px;
   
}
#botaonome{
position: absolute;
top: 5%;
left:5%;

}

input{

border: 3px solid black;

}
i::before
{

  content: '';
  position: absolute;
  top: -1.5px;
  left: 95%;
  width: 15px;
  height: 4px;
  background-color: aqua;
  transform: translateX(-50%);
  transition: 800ms;
 

}
p:hover i::before
{

   
    left: 30%;
    width: 25px;
 

}
i::after
{

  content: '';
  position: absolute;
  bottom:0px;
  left: 27%;
  width: 15px;
  height: 4px;
  background-color: aqua;
  transform: translateX(-50%);
  transition: 800ms;
 

}
p:hover i::after
{


    left: 90%;
    width: 25px;
 

}




#botaosenha{
position: absolute;
top: 25%;
left:5%;
}
#botaoidade{
position: absolute;
top: 45%;
left:5%;
}
#botaodata{
position: absolute;
top: 5%;
right: 5%;
}
#botaocor{
position: absolute;
top: 25%;
right: 5%;
}
#isalvar{
position: absolute;
bottom: 20%;
left: 30%;
}
#iresetar{
position: absolute;
bottom: 20%;
right: 30%;
}
